/*
========================================================================================
    Test Configuration
========================================================================================
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'
    
    // Input data
    samplesheet = 'https://raw.githubusercontent.com/your-org/uSeq2Tracks/master/test/test_samplesheet.csv'
    genome      = 'https://raw.githubusercontent.com/your-org/uSeq2Tracks/master/test/genome.fa'
    genome_id   = 'test'
    
    // Disable features not needed for testing
    skip_multiqc = true
}
